<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- mysql일때: select no+1 from todo order by no desc limit 1, hsql헤로쿠배포시: select top 1 bno+1 from tbl_board order by bno desc -->
<mapper namespace="todoMapper">
	<select id="selectAll" resultType="com.edu.vo.TodoVO">
		SELECT * FROM todo order by reg_date desc
	</select>
	<insert id="insertList">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
		select no+1 from todo order by no desc limit 1
		</selectKey>
		INSERT INTO todo (no, list, reg_date) VALUES (no, #{list}, now())
	</insert>
	<update id="updateList">
		UPDATE todo SET 
		list=#{list}, 
		update_date=now() 
		WHERE no=#{no}
	</update>
	<delete id="deleteList">
		DELETE FROM todo WHERE no=#{no}
	</delete>
</mapper>