<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="todoMapper">
	<select id="selectAll" resultType="com.edu.vo.TodoVO">
		SELECT * FROM todo
	</select>
	<select id="viewList" resultType="com.edu.vo.TodoVO">
		SELECT * FROM todo WHERE no = #{no}
	</select>
	<insert id="insertList">
		INSERT INTO todo (list) VALUES (#{list})
	</insert>
	<update id="updateList">
		UPDATE todo SET list=#{list} WHERE no=#{no}
	</update>
	<delete id="deleteList">
		DELETE FROM todo WHERE no=#{no}
	</delete>
</mapper>